*{
    margin:0;
    font-family: sans-serif;
}
.header-section{
    background-image: url('../images/donation0.jpg');
    /* background-size: contain; */
    background-size: cover;
    max-width: 1140px;
    margin: 0 auto;
    height: 350px;
    color: white;
    text-align: center;
    padding: 100px 200px;

}
.header-title{
    /* width: 500px; */
    /* text-align: center; */

    margin:0px 100px 20px 100px ;
    font-size: 85px;
    font-weight: 700;
}
.header-description{
    margin:0px 270px 20px 270px ;
    font-size: 18px;
    font-weight: 400;
}
.btn-primary{
    height: 64px;   
    background-color: #fd5f0a ;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    padding: 18px 35px;
    border-radius: 5px;
    border-style: none;
}
main{
    max-width: 1140px;
    margin: 0 auto;
}

/* Donate today section styles  */
.donate-section{
    text-align: center;
}
.section-title{
    margin-top: 100px;
    margin-bottom: 30px;
    font-size: 45px;
    font-weight: 700;
    text-align: center;
  
}
.section-description-center{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 40px;
    text-align: center;
    padding: 0 200px;
   
    
  
}
.donate-section ul{
    display: flex;
    gap: 25px;
    justify-content: center;
    
}

.donate-section li{
    list-style: none;
    background-color: #FAFAFA;
    border: 1px solid #FAFAFA;
    padding: 30px 15px;
    border-radius: 5px;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 40px;
}

.donate-section li:hover{
    background-color: #FFEEEE;
    color:red;
    border: 1px solid red;
    border-radius: 5px;
}
.donate-section hr{
    width: 500px;
    
}
.donate-section input{
    margin-bottom: 24px;
    border: 0 ;
    width: 30%;
    padding:10px 18px;
}
input{
    height: 50px;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
}

/* Our Donate Plan section styles */

.section-description-left{
    text-align: left;
}
.donetion-plans{
    display: flex;
    gap: 30px;
}
.sub-donation-plan-food{
    background-color:#EDF5F6 ;
    border-radius: 5px;
    padding: 40px 30px;
}
.sub-donation-plan-shelter{
    background-color:#FFEEEE ;
    border-radius: 5px;
    padding: 40px 30px;
}
.sub-donation-plan-education{
    background-color:#FFF4D6 ;
    border-radius: 5px;
    padding: 40px 30px;
}
.donate-plan-section h3{
    margin-top: 20px;
    margin-bottom: 20px;
}
